{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Update Grade</h1>

    <!-- Form to update an existing grade -->
    <form method="POST" action="{{ url_for('grades.update_grade', grade_id=current_grade.grade_id) }}">
        <div class="form-group">
            <label for="student_name">Student Name</label>
            <input type="text" class="form-control" id="student_name" name="student_name"
                   value="{{ current_grade.student_name }}" required>
        </div>

        <div class="form-group">
            <label for="number_grade">Number Grade</label>
            <input type="number" class="form-control" id="number_grade" name="number_grade"
                    value="{{ current_grade.number_grade }}" required>

        </div>

        <button type="submit" class="btn btn-primary">Update Grade</button>
        <a href="{{ url_for('grades.grade') }}" class="btn btn-secondary ml-2">Cancel</a>
    </form>
</div>

{% endblock %}
